$theme-primary-background-color : #f1f1f1;
$theme-section-header-primary-color : #f8f8f8;

$theme-fast-reaction : .3s;

@mixin materialDesign{
  background-color : #fff;
  box-shadow : 0 1px 2px rgba(0,0,0,.1);
}

@mixin transition-mix($type, $duration ){
  -webkit-transition: $type $duration;
  -moz-transition: $type $duration;
  -ms-transition: $type $duration;
  -o-transition: $type $duration;
  transition: $type $duration;
};

button, input.form-control{
  border-radius : 2px !important;
}

input.form-control{
  @include transition-mix(all, $theme-fast-reaction);
}

a, button{
  @include transition-mix(all, $theme-fast-reaction);
}

html, body{
  height : 100%;
  width : 100%;

  background-color : #f1f1f1;
  font-family : 'Segoe UI';

  margin-top : 44px;;
}

.fixedContainer{
  position : fixed;
  top : 0;
  margin : 0 auto;
  width : 100%;

  background-color : $theme-primary-background-color;
  z-index : 1000;
  padding-bottom : 10px;

  box-shadow : 0 1px 5px 1px #ccc;
}


body > .container{
  height : 100%;
}

body > .container > div {
  height : 100%;
  margin-bottom : 20px;

  padding : 0;

  overflow-y : scroll;

  @include materialDesign;

  .section-controls-container{
    background-color : $theme-section-header-primary-color;
    padding : 15px;

    height : 64px;
    overflow : hidden;

    h4{
      font-weight: normal;
    }

    > div {
      margin-bottom: 15px;
      @include transition-mix(all, $theme-fast-reaction);

      &.showNext{
        margin-top : -49px;
      }

      &.showThird{
        margin-top : -98px;
      }
    }
  }

  #preview, #htmlCode, .codeGenPane{
    padding : 15px;
  }
}

/* Modal CSS */
.modal-content{
  border-radius: 2px;
  padding : 15px;

  .modal-heading{
    font-size : 16px;
    border-bottom : 1px solid #ccc;

    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  label{
    font-weight: normal;
  }

  .modal-actions{
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }
}

span.hljs-title{
  font-weight : 400;
}

.formDetails{
  background-color : $theme-section-header-primary-color;
  padding : 15px;

  .formInfo{
    line-height : 34px;
  }

  .panel{
    margin-bottom : 0;
  }

  .panel-body{
    .well{
      padding : 5px 15px;
      margin-bottom: 0;
      line-height: 34px;
    }
  }
}

.inputSectionsContainer{
  height : 34px;
  overflow : hidden;
}

.showNextInput{
  margin-top : -34px;
}

.tMar15{
  margin-top  : 15px;
}