button, input.form-control {
  border-radius: 2px !important; }

input.form-control {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a, button {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  font-family: 'Segoe UI';
  margin-top: 44px; }

.fixedContainer {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1000;
  padding-bottom: 10px;
  box-shadow: 0 1px 5px 1px #ccc; }

body > .container {
  height: 100%; }

body > .container > div {
  height: 100%;
  margin-bottom: 20px;
  padding: 0;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  body > .container > div .section-controls-container {
    background-color: #f8f8f8;
    padding: 15px;
    height: 64px;
    overflow: hidden; }
    body > .container > div .section-controls-container h4 {
      font-weight: normal; }
    body > .container > div .section-controls-container > div {
      margin-bottom: 15px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      body > .container > div .section-controls-container > div.showNext {
        margin-top: -49px; }
      body > .container > div .section-controls-container > div.showThird {
        margin-top: -98px; }
  body > .container > div #preview, body > .container > div #htmlCode, body > .container > div .codeGenPane {
    padding: 15px; }

/* Modal CSS */
.modal-content {
  border-radius: 2px;
  padding: 15px; }
  .modal-content .modal-heading {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px; }
  .modal-content label {
    font-weight: normal; }
  .modal-content .modal-actions {
    border-top: 1px solid #ccc;
    padding-top: 15px; }

span.hljs-title {
  font-weight: 400; }

.formDetails {
  background-color: #f8f8f8;
  padding: 15px; }
  .formDetails .formInfo {
    line-height: 34px; }
  .formDetails .panel {
    margin-bottom: 0; }
  .formDetails .panel-body .well {
    padding: 5px 15px;
    margin-bottom: 0;
    line-height: 34px; }

.inputSectionsContainer {
  height: 34px;
  overflow: hidden; }

.showNextInput {
  margin-top: -34px; }

.tMar15 {
  margin-top: 15px; }

/*# sourceMappingURL=codeGen.css.map */
