<!DOCTYPE html>
<html ng-app='codeGenerator'>

<head>
    <title>Code Generator</title>

    <link type="text/css" rel="stylesheet"
          href="extResources/bootstrap/bootstrap.css"/>
    <link type="text/css" rel="stylesheet"
          href="appResources/css/codeGen.css"/>
    <link type="text/css" rel="stylesheet"
          href="extResources/highlightJS/css/default.css"/>

    <script type="text/javascript" src="extResources/highlightJS/js/highlight.pack.js"></script>
    <script type="text/javascript" src="extResources/angular/angular.min.js"></script>

    <script type="text/javascript" src="extResources/angular/ui-bootstrap.js"></script>
    <script type="text/javascript" src="appResources/js/dataStructure/Tree.js"></script>

    <script type="text/javascript" src="appResources/js/anchorScroll/AnchorScrollModule.js"></script>
    <script type="text/javascript" src="appResources/js/htmlCodeGenerator/HTMLCodeGenerator.js"></script>
    <script type="text/javascript" src="appResources/js/htmlCodeFormatter/HighLight.js"></script>

    <script type="text/javascript" src="appResources/js/Module.js"></script>



    <script type="text/ng-template" id="addForm.html">
        <div class="modal-heading">
            Add Form
        </div>

        <div class="form-group">
            <label class="control-label">Form Name</label>
            <input type="text" class="form-control" ng-model="form.name"/>
        </div>

        <div class="modal-actions">
            <button type="button" class="btn btn-default" ng-click="createForm()">Create Form</button>
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </script>
</head>

<body ng-controller="DefaultController">
<div class="fixedContainer">
    <div class="container">
        <div class="col-xs-12">

            <h4>Code Generator</h4>

            <div>
                <button type="button" class="btn btn-default" ng-click="moveToAnchor('gen')">Code Gen</button>
                <button type="button" class="btn btn-default" ng-click="moveToAnchor('previewContainer')">Preview
                </button>
                <button type="button" class="btn btn-default" ng-click="moveToAnchor('html')">HTML Code</button>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12" id="gen">

        <div class="section-controls-container">
            <div class="add-form-section" ng-class="{ 'showNext' : isFormAdded(), 'showThird' : isAddTagPaneActive () }">
                <button type="button" class="btn btn-default" ng-click="addForm()">Add Form</button>
            </div>

            <div class="add-row-section">
                <button type="button" class="btn btn-default">Add Row</button>
            </div>

            <div class="addTagPane">
                <div class="row">
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="newTag.id" placeholder="Tag ID"/>
                    </div>

                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="newTag.name" placeholder="Tag Name"/>
                    </div>

                    <div class="col-xs-2">
                        <select class="form-control" ng-change="tagTypeChange()" ng-model="newTag.tagType" ng-options="tag for tag in tags" placeholder="Tag">
                        </select>
                    </div>

                    <div class="col-xs-2 inputSectionsContainer">
                        <input type="text" class="form-control" ng-class="{'showNextInput' : isLabelSelected() }" ng-model="newTag.type" placeholder="Tag Type"/>
                        <input type="text" class="form-control" ng-model="newTag.value" placeholder="Tag Value"/>
                    </div>

                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="newTag.classes" placeholder="Tag Class"/>
                    </div>

                    <div class="col-xs-2">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" ng-click="addTag()" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeGenPane">

            <div class="formDetails" ng-repeat="form in getForms()">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="row">
                            <div class="col-xs-8 formInfo">
                                Form Name : {{ form.name }}
                            </div>

                            <div class="col-xs-4">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="makeAddTagPaneActive(form)" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                    <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default" ng-repeat="div in getChildDivs(form)">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8 formInfo">
                                        {{ getTagInfo( div ) }}
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" ng-click="makeAddTagPaneActive(div)" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                            <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                            <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div ng-repeat="child in getChildDivs( div )" ng-class="{'tMar15' : !$first }">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">

                                            <div class="row">
                                                <div class="col-xs-8 formInfo">
                                                    {{ getTagInfo( child ) }}
                                                </div>

                                                <div class="col-xs-4">
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-default" ng-click="makeAddTagPaneActive(child)" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                        <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                                        <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <div ng-repeat="element in getChildDivs( child )" ng-class="{'tMar15' : !$first }">

                                                <div class="well">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div>
                                                                {{ getTagInfo( element ) }}
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <div class="pull-right">
                                                                <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                                                <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12" id="previewContainer">
        <div class="section-controls-container">
            <h4>Generated HTML Preview</h4>
        </div>

        <div id="preview">

        </div>
    </div>
    <div class="col-xs-12" id="html">
        <div class="section-controls-container">
            <h4>Generated HTML Code</h4>
        </div>

        <div id="htmlCode">
            <pre highlight id="htmlText" html-code="htmlCode"></pre>
        </div>
    </div>
</div>
</body>

</html>